{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/columns2

    Admin time setting template.

    Boost 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{> theme_boost/head }}

<body {{{ bodyattributes }}}>
<div class="se-pre-con"></div>
{{! check is home page }}
{{^isLoggedIn}}
{{#is_homepage}}
<div class="wrapper-page">
    <img src="../local/b13_dashboard/assets/images/background.png" class="background-icon"/>
    <div class="container home-page">
        <h1 class="logo">
            <a href="/"><img src="../student/assets/img/logo.svg" title="logo" alt="logo"></a>
        </h1>
        <div class="row page-content-box">
            <div class="col-md-6">
                        <div id="page-content">
                            <h2>Welcome to Learnlock</h2>
                            <p>
                                A revision site to help you learn quickly and achieve exam success.
                            </p>
                            <p>
                                Our revision content is specific to the subject you are revising for, the level you are at and the exam boards you are taking your exams with.
                            </p>
                            <p>
                                Each topic is divided into sub topics and after your revision you then take tests to measure how much you have learnt. We provide a unique system that means you will continually be tested until you get the right answers and therefore you know the learning is locked in.
                            </p>
                            <p>
                                Each user will have their own dashboard to see how far through the topic they are in both the revision and the tests.
                            </p>
                            <div class="row submit-form">
                                <div class="col-md-5">
                                    <div class="loginBtn">
                                        <a href="/login">
                                            Login
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="linkSignupBtn">
                                        <a href="/login/signup.php?">
                                            Register
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <ul class="menu-links">
                                <li><a href="/student/#/about-us">About us</a></li>
                                <li class="hyphen-link">-</li>
                                <li><a href="/student/#/faqs">FAQs</a></li>
                            </ul>
                                    {{{ output.course_content_header }}}
                                    {{{ output.main_content }}}
                                    {{{ output.course_content_footer }}}
                </div>
            </div>
        </div>
        <footer class="wrapper-footer">
                <div id="course-footer">
                        <p>© Copyright ©2019 LearnLock</p>
                        <ul class="footer-menu">
                            <li><a href="/student/#/terms-and-conditions">Terms and Conditions</a></li>
                            <li><a href="/student/#/privacy-policy">Privacy Policy</a></li>
                        </ul>
                </div>
                <!--{{{ output.standard_footer_html }}}
                {{{ output.standard_end_of_body_html }}}-->
        </footer> 
    </div>   
</div>
{{/is_homepage}}
{{/isLoggedIn}}

{{! check is not home page }}

{{^is_homepage}}
<div id="page-wrapper">
    {{{ output.standard_top_of_body_html }}}
    {{>theme_boost/navbar}}
    <div id="page" class="container-fluid">
        {{{ output.full_header }}}
        <div id="page-content" class="row">
            <div id="region-main-box" class="col-12">
                {{#hasregionmainsettingsmenu}}
                <div id="region-main-settings-menu" class="d-print-none {{#hasblocks}}has-blocks{{/hasblocks}}">
                    <div> {{{ output.region_main_settings_menu }}} </div>
                </div>
                {{/hasregionmainsettingsmenu}}
                <section id="region-main" {{#hasblocks}}class="has-blocks mb-3"{{/hasblocks}}>
                    <div class="card">
                        <div class="card-body">
                            {{#hasregionmainsettingsmenu}}
                                <div class="region_main_settings_menu_proxy"></div>
                            {{/hasregionmainsettingsmenu}}
                            {{{ output.course_content_header }}}
                            {{{ output.main_content }}}
                            {{{ output.activity_navigation }}}
                            {{{ output.course_content_footer }}}
                        </div>
                    </div>
                </section>
                {{#hasblocks}}
                <section data-region="blocks-column" class="d-print-none">
                    {{{ sidepreblocks }}}
                </section>
                {{/hasblocks}}
            </div>
        </div>
    </div>
    {{> theme_boost/nav-drawer }}
</div>

{{> theme_boost/footer }}
{{/is_homepage}}

</body>
</html>
{{#js}}
require(['theme_boost/loader']);
require(['theme_boost/drawer'], function(mod) {
    mod.init();
});
console.log('abc');
{{/js}}
