{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>LearnLock</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    {{{ output.standard_head_html }}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/local/b13_dashboard/assets/js/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/local/b13_dashboard/assets/css/style.css" />
    <link href="/local/b13_dashboard/assets/js/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="/student/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <script src="/local/b13_dashboard/assets/js/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <script src="/local/b13_dashboard/assets/js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/local/b13_dashboard/assets/js/sweetalert.min.js"></script>
    <script src="/local/b13_dashboard/assets/js/jquery-ui.min.js"></script>
    <script src="/local/b13_dashboard/assets/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/local/b13_dashboard/assets/js/custom-script.js"></script>
</head>