{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/login

    Login page template

    Example context (json):
    {
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Login page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headers keep HTML validators happy</h1>"
        }
    }
}}
{{> theme_boost/head }}

<body {{{ bodyattributes }}}>

<div class="authen-page wrapper-page">
    <img src="../local/b13_dashboard/assets/images/background.png" class="background-icon"/>
    <div class="container">
        <h1 class="logo" >
            <a href="/student/#/student-view" class="logoUrl">
                <img src="../local/b13_dashboard/assets/images/logo.svg" title="logo" alt="logo"/>
            </a>
        </h1>
        <div class="row page-content-box">
            <div class="col-md-6">
                {{{ output.standard_top_of_body_html }}}
                        <div id="page-content">
                                    {{{ output.course_content_header }}}
                                    {{{ output.main_content }}}
                                    {{{ output.course_content_footer }}}
                </div>
            </div>
        </div>
        <footer class="wrapper-footer">
                <div id="course-footer">
                    <div class="col-md-12">
                        <p>© Copyright ©2019 LearnLock</p>
                        <ul class="footer-menu">
                            <li><a href="/student/#/terms-and-conditions">Terms and Conditions</a></li>
                            <li><a href="/student/#/privacy-policy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <!--{{{ output.standard_footer_html }}}
                {{{ output.standard_end_of_body_html }}}-->
        </footer> 
    </div>   
</div>
</body>
</html>
{{#js}}
require(['theme_boost/loader']);
{{/js}}
