<nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <img alt="image" class="rounded-circle" src="img/profile_small.jpg"/>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="block m-t-xs font-bold">David Williams</span>
                                <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a class="dropdown-item" href="profile.html">Profile</a></li>
                                <li><a class="dropdown-item" href="contacts.html">Contacts</a></li>
                                <li><a class="dropdown-item" href="mailbox.html">Mailbox</a></li>
                                <li class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="javascript:void(0)" ng-click="logoutFunction()">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                    <li class="active" ng-class="{true: 'active', false: ''}[collapse]">
                        <a ng-click="collapse = !collapse"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span> <span class="fa arrow"></span></a>
                    </li>
                    <li>
                        <a href="#/posts"><i class="glyphicon glyphicon-pushpin"></i> <span class="nav-label">Posts</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="#/post-new">Add New Post</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#/categories"><i class="fa fa-edit"></i> <span class="nav-label">Categories</span><span class="fa arrow"></span></a>
                    </li>
                    <li>
                        <a href="#/pages"><i class="glyphicon glyphicon-book"></i> <span class="nav-label">Pages</span><span class="fa arrow"></span></a>
                    </li>
                </ul>

            </div>
        </nav>