{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/loginform

    Moodle template for the login page.

    Context variables required for this template:
    * autofocusform: Auto focus on form ?,
    * canloginasguest - Is guest login allowed?,
    * canloginbyemail - Is login by email allowed?,
    * cansignup - Signup allowed?,
    * cookieshelpicon - cookies help icon details
    * error - Any errors in the form?,
    * forgotpasswordurl - Forgot password url,
    * hasidentityproviders - Flag, set to true to hide identity providers,
    * hasinstructions - Flag, set to true to show instructions,
    * identityproviders - List of identiy providers,
    * instructions - Instructions,
    * instructionsformat - Format of instructions,
    * loginurl - Login url,
    * rememberusername - Remeber username?,
    * signupurl - Signup url,
    * cookieshelpiconformatted - Formatted html of cookies help icon,
    * errorformatted - Formatted error,
    * logourl - Flag, logo url,
    * sitename - Name of site.
    * logintoken - Random token to protect login request.

    Example context (json):
    {
        "autofocusform": false,
        "canloginasguest": "1",
        "canloginbyemail": false,
        "cansignup": true,
        "cookieshelpicon": {
            "heading": "Cookies must be enabled in your browser",
            "text": "<div class=\"no-overflow\">Two cookies are used on this site. Both died..</div>",
            "icon": {
                "attributes": [
                    {
                        "name": "class",
                        "value": "iconhelp"
                    },
                    {
                        "name": "alt",
                        "value": "Help with Cookies must be enabled in your browser"
                    },
                    {
                        "name": "title",
                        "value": "Help with Cookies must be enabled in your browser"
                    },
                    {
                        "name": "src",
                        "value": "http://localhost/stable_master/theme/image.php?theme=boost&component=core&image=help"
                    }
                ]
            },
            "linktext": null,
            "title": "Help with Cookies must be enabled in your browser",
            "url": "http://localhost/stable_master/help.php?component=core&identifier=cookiesenabled&lang=en",
            "ltr": true
        },
        "error": "",
        "forgotpasswordurl": "http://localhost/stable_master/login/forgot_password.php",
        "hasidentityproviders": false,
        "hasinstructions": true,
        "identityproviders": [],
        "instructions": "For full access to this site, you first need to create an account.",
        "instructionsformat": "1",
        "loginurl": "http://localhost/stable_master/login/index.php",
        "rememberusername": true,
        "signupurl": "http://localhost/stable_master/login/signup.php",
        "cookieshelpiconformatted": "",
        "errorformatted": "",
        "logourl": false,
        "sitename": "Beer & Chips",
        "logintoken": "randomstring"
    }
}}
<link rel="stylesheet" type="text/css" href="/local/b13_dashboard/assets/bootstrap-3.3.7/css/bootstrap.min.css" />

<div class="card authen-box">
    <div class="card-block">
        <!-- {{#logourl}}
            <h1 class="card-header" ><img src="{{logourl}}" title="{{sitename}}" alt="{{sitename}}"/></h1>
        {{/logourl}}
        {{^logourl}} 
            <h2 class="card-header">{{sitename}}</h2>
        {{/logourl}}-->
        <div class="card-body">
            <h2>Login</h2>
            {{#cansignup}}
                <div class="sr-only">
                    <a href="{{signupurl}}">{{#str}} tocreatenewaccount {{/str}}</a>
                </div>
            {{/cansignup}}

            {{#error}}
                <div class="loginerrors mt-3">
                    <a href="#" id="loginerrormessage" class="accesshide">{{error}}</a>
                    <div class="alert alert-danger" role="alert">{{error}}</div>
                </div>
            {{/error}}
                    <form class="mt-3" action="{{loginurl}}" method="post" id="login">
                        <input id="anchor" type="hidden" name="anchor" value="">
                        <script>document.getElementById('anchor').value = location.hash;</script>
                        <input type="hidden" name="logintoken" value="{{logintoken}}">
                        <div class="form-group">
                            <label for="username">
                                {{^canloginbyemail}}
                                    {{#str}} usernameemail {{/str}}
                                {{/canloginbyemail}}
                                {{#canloginbyemail}}
                                    {{#str}} username {{/str}}
                                {{/canloginbyemail}}
                            </label>
                            <input type="text" name="username" id="username"
                                class="form-control"
                                value="{{username}}"
                                placeholder={{#quote}}{{^canloginbyemail}}{{#str}}username{{/str}}{{/canloginbyemail}}{{#canloginbyemail}}{{#str}}usernameemail{{/str}}{{/canloginbyemail}}{{/quote}}>
                                <div class="alert alert-danger username" role="alert">Username is required.</div>
                        </div>
                        <div class="form-group">
                            <label for="password">{{#str}} password {{/str}}</label>
                            <input type="password" name="password" id="password" value=""
                                class="form-control"
                                placeholder={{#quote}}{{#str}}password{{/str}}{{/quote}}>
                            <div class="alert alert-danger password" role="alert">Password is required.</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="forgetpass">
                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#forgotpassword">
                                        <!-- {{#str}}
                                            forgotten
                                        {{/str}} -->
                                        Forgot your password?
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                    <div class="pull-right registerHereBtn">
                                        <a href="/login/signup.php?">
                                            Not a member? Register here
                                        </a>
                                    </div>
                            </div>
                        </div>
                        <div class="row submit-form">
                            <div class="col-md-5 cancelbtn">
                                <a href="/" class="btn btn-warning btn-block mt-3" id="cancelbtn">
                                    Cancel
                                </a>
                            </div>
                            <div class="col-md-5 loginbtn">
                                <button type="submit" class="btn btn-warning mt-3 loginbtn1" style="width:100%;" id="loginbtn">{{#str}}login{{/str}}</button>
                                <button type="button" class="btn btn-warning mt-3 loginbtn2" style="width:100%;" id="loginbtn2">{{#str}}login{{/str}}</button>
                            </div>
                        </div>
                        <!--
                        {{#rememberusername}}
                            <div class="rememberpass mt-3">
                                <input type="checkbox" name="rememberusername" id="rememberusername" value="1" {{#username}}checked="checked"{{/username}} />
                                <label for="rememberusername">{{#str}} rememberusername, admin {{/str}}</label>
                            </div>
                        {{/rememberusername}}
                        -->

                    </form>
                    
                    <!--
                    <div class="mt-3">
                        {{#str}} cookiesenabled {{/str}}
                        {{{cookieshelpiconformatted}}}
                    </div>
                    {{#canloginasguest}}
                        <div class="mt-2">
                            <p>{{#str}}someallowguest{{/str}}</p>
                            <form action="{{loginurl}}" method="post" id="guestlogin">
                                <input type="hidden" name="logintoken" value="{{logintoken}}">
                                <input type="hidden" name="username" value="guest" />
                                <input type="hidden" name="password" value="guest" />
                                <button class="btn btn-secondary btn-block" type="submit">{{#str}}loginguest{{/str}}</button>
                            </form>
                        </div>
                    {{/canloginasguest}}
                    -->

                {{#hasidentityproviders}}
                    <h6 class="mt-2">{{#str}} potentialidps, auth {{/str}}</h6>
                    <div class="potentialidplist" class="mt-3">
                        {{#identityproviders}}
                            <div class="potentialidp">
                                <a href="{{url}}" title={{#quote}}{{name}}{{/quote}} class="btn btn-secondary btn-block">
                                    {{#iconurl}}
                                        <img src="{{iconurl}}" alt="" width="24" height="24"/>
                                    {{/iconurl}}
                                    {{name}}
                                </a>
                            </div>
                        {{/identityproviders}}
                    </div>
                {{/hasidentityproviders}}
            </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="forgotpassword" tabindex="-1" role="dialog" aria-labelledby="forgotpasswordLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="forgotpasswordLabel">Forgot Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <span id="wait">processing...</span>
            <div class="container-fluid">
                <div class="form-group" style="margin-top:10px;margin-bottom:10px;">
                    <span>Enter your email to reset your password</span>
                    <p></p>
                    <input type="email" class="form-control" id="resentpassword" placeholder="Enter your email...">
                </div>
            </div>
        </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-warning resetPasswordBtn" onClick="resetPassword()">Reset Password</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--
{{#hasinstructions}}
<div class="row justify-content-center mt-3">
<div class="col-xl-6 col-sm-8">
<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h2>{{#str}}firsttime{{/str}}</h2>
        </div>
        <div>
        {{{instructions}}}
        {{#cansignup}}
            <form class="mt-3" action="{{signupurl}}" method="get" id="signup">
                <button type="submit" class="btn btn-secondary">{{#str}}startsignup{{/str}}</button>
            </form>
        {{/cansignup}}
        </div>
    </div>
</div>
</div>
</div>
{{/hasinstructions}}
-->

{{#js}}
    {{#error}}
        require(['jquery'], function($) {
            $('#loginerrormessage').focus();
        });
    {{/error}}
    {{^error}}
        {{#autofocusform}}
            require(['jquery'], function($) {
                if ($('#username').val()) {
                    $('#password').focus();
                } else {
                    $('#username').focus();
                }
            });
        {{/autofocusform}}
    {{/error}}
{{/js}}
<script>
$('#wait').hide();
function resetPassword(){
    var resendEmailParam = $('#resentpassword').val();
    $('#wait').show();
	$.ajax({
		url: '/local/b13_dashboard/load-ajax.php?classname=b13forgotpassword&method=resend_password',
		data: {email: resendEmailParam},
		type: 'POST',
		success: function(data) {
            $('#wait').hide();
            if(data.error){
                swal({
                icon: 'error',
                showCloseButton: true,
                closeModal:true,
                text: data.error,
                button:'ok'
                }).then(function(){
                    location.reload();
                });
            }else{
                swal({
                icon: 'success',
                showCloseButton: true,
                closeModal:true,
                text: "The new password has been sent to your email",
                button:'ok'
                }).then(function(){
                    location.reload();
                });
            }
		     console.log(data);
		}
	});
    return false;
}

function checkInputMatch() {
    var username = $("#username").val();
    var password = $("#password").val();

    if(username){
        $(".username").hide();
    }
    if(password){
        $(".password").hide();
    }
}
    checkInputMatch();
   $("#username, #password").keyup(checkInputMatch);

    $('#login input').on("keyup change", function(){
        var inputValidate = true;
        $("#login .form-group").each(function(index, element){
            if($(element).find('input').val() == "")
            inputValidate = false;
        });

        if(inputValidate){
            $(".loginbtn1").show();
            $(".loginbtn2").hide();
        }else{
            $(".loginbtn1").hide();
            $(".loginbtn2").show();
        }
    });
    $("#loginbtn2").click(function(event){
    var isUsernameValid = true;
    var isPasswordValid = true;
    if($.trim($('#username').val()).length == 0 && $.trim($('#password').val()).length == 0){
            isUsernameValid = false;
            isPasswordValid = false;
    }else if ($.trim($('#username').val()).length == 0){
            isUsernameValid = false;
    }else if($.trim($('#password').val()).length == 0){
            isPasswordValid = false;
    }
    if (!isUsernameValid && !isPasswordValid){
        $('#login div.username').show();
        $('#login div.password').show();
    }else if(!isUsernameValid){
        $('#login div.username').show();
    }else if(!isPasswordValid){
        $('#login div.password').show();
    }
});
            $(document).ready(function(){
                var comparingText = 'Your session has timed out. Please log in again.';
                var errorText = $('.loginerrors .alert-danger').text();
                if(errorText == comparingText){
                    $('.loginerrors .alert-danger').css('display','none');
                }
                $('#forgot').on('load',function(){
                        $(this).show();
                        $('.loading-material').hide();
                });
                
                $('#forgotpassword').on('hidden.bs.modal', function () {
                    location.reload();
                })
            });
</script>

<style>
    #page-login-index .modal-header .close{
        margin-top:-10px;
    }
    
    #page-login-index #forgotpassword iframe{
        border:none;
        height:210px;
    }
    #page-login-index .modal-body {
        position: relative;
        padding: 0px;
        padding-bottom: 10px;
    }
    #wait{
        background: #fff;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 999;
        text-align: center;
        padding-top: 35px;
    }
    .resetPasswordBtn{
            background: #ffd007 !important;
            border:1px solid #ffd007 !important;
    }
</style>