{{!
    @template core/signup_form_layout

    Example context (json):
    {
        "logourl": "https://moodle.org/logo/moodle-logo.svg",
        "sitename": "Site name",
        "formhtml": "<p>(Form html would go here)</p>"
    }
}}
            <div class="card authen-box signup-box">
                <div class="card-block">
                    <div class="card-body">
                        <h2>Register</h2>
                         <form class="mt-3" method="post" id="signupForm">
                            <div class="form-group">
                                <label for="fullname">
                                        Full Name
                                </label>
                                <input type="text" name="fullname" id="fullname" class="form-control" value="" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="username">
                                        Username
                                </label>
                                <input type="text" name="username" id="username" class="form-control" value="" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="email">
                                        Email
                                </label>
                                <input type="text" name="email" id="email" class="form-control" value="" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="school">School</label>
                                <input id="school_list" class="form-control" name="school" value="" type="text" />
                                <input type="hidden" id="school_list-id">
                                <p id="project-description"></p>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" autocomplete="off" name="password" id="password" value="" class="form-control" placeholder="">
                            </div>

                            <div class="form-group">
                                <label for="password">Confirm Password</label>
                                <input type="password" autocomplete="off" name="confirmpassword" id="confirmpassword" onChange="checkPasswordMatch();" value="" class="form-control" placeholder="Password">
                                <div class="registrationFormAlert" id="divCheckPasswordMatch">
                            </div>
                            
                            <div class="row submit-form">
                                <div class="col-md-5 cancelBtnRegister">
                                    <a href="/" class="btn btn-warning btn-block mt-3" id="cancelbtn">
                                        Cancel
                                    </a>
                                </div>
                                <div class="col-md-5 signupBtnRegister checkAction not-allowed">
                                    <button type="button" onclick="signupFunction()" class="btn btn-warning btn-block mt-3 signupBtn" >Register</button>
                                </div>
                            </div>
                    </form>
                    </div>
                </div>
            </div>
            </div>
<style>
  #project-label {
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
  }
  #project-icon {
    float: left;
    height: 32px;
    width: 32px;
  }
  #project-description {
    margin: 0;
    padding: 0;
  }
  </style>