@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");
/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   version 2.8
 *
 */
 @font-face {
  font-family: 'open-sans';
  src: url('../fonts/Open-Sans-Regular.ttf');
}
html{
  height:100%;
}
h1,h2,h3,h4,h5,p,span,i,ul,li,a,button,input,textarea{
  color:#565656;
  font-family: open-sans;
}
p,a{
  font-size:16px;
  font-family: open-sans;
}
body{
  background:#f5fcfc;
  font-family: open-sans;
  height:100%;
}
.breadcrumbs{
  display: table;
  height: 40px;
}
.breadcrumbs .change-subject-option{
  color: #f7981d;
  margin: 0;
  vertical-align: middle;
  display: table-cell;
}
.breadcrumbs .change-subject-option span{
  display: inline-block;
  color: #f7981d;
  margin-right:5px;
  margin-left:5px;
}
.margin-top-10{
  margin-top:10px;
}
.margin-right-10{
  margin-right:10px;
}
.margin-bottom-10{
  margin-bottom:10px;
}
.margin-left-10{
  margin-left:10px;
}

.padding-top-10{
  padding-top:10px;
}
.padding-right-10{
  padding-right:10px;
}
.padding-bottom-10{
  padding-bottom:10px;
}
.padding-left-10{
  padding-left:10px;
}

.margin-top-0{
  margin-top:0px;
}
.margin-right-0{
  margin-right:0px;
}
.margin-bottom-0{
  margin-bottom:0px;
}
.margin-left-0{
  margin-left:0px;
}
.padding-top-0{
  padding-top:0px;
}
.padding-right-0{
  padding-right:0px;
}
.padding-bottom-0{
  padding-bottom:0px;
}
.padding-left-0{
  padding-left:0px;
}
.padding-0{
  padding:0px;
}
.wrapper-page{
  background:#f5fcfc;
  position:relative;
  padding-bottom:0px; 
  height:100%;
}
body#page-login-signup{
  height:initial;
}
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../img/loading.gif) center no-repeat #fff;
}
.question-loading{
  position: absolute;
  left: 45%;
  top: 35%;
  width: 100px;
  height: 100px;
  z-index: 9999;
  background: url(../img/question-loading.gif) center no-repeat transparent;
  background-size: contain;
}
.wrapper-page .container{
  position: relative;
}
.wrapper-page h1.logo{
  padding:20px 0px 20px 0px;
  margin-bottom: 0px;
  margin-top:0px;
}
.wrapper-page h1.logo img{
  width:300px;
} 

.background-icon{
  position: absolute;
  top: -10px;
  right: 0;
  height: 100%;
}
.authen-page .authen-box{
  border:none;
  background:transparent;
}
.authen-page .authen-box .card-block{
  border:none;
}
.authen-page .authen-box .card-block h1{
  padding: 0;
  background: transparent;
  border: none;
  margin: 30px 0px;
}
.authen-page .authen-box .card-block h1 img{
  width:300px;
}
.authen-page .authen-box .card-body{
  padding:0px;
}
.authen-page .authen-box .card-body h2{
  font-size:40px;
  color:#393939;
}
.authen-page .authen-box .card-body .form-group label{
  color:#393939;
}
.authen-page .authen-box .card-body .form-group input[type="text"] ,.authen-page .authen-box .card-body .form-group input[type="password"]{
  border: 1px solid #f0f3f3;
  border-radius: 10px;
  height: 40px;
  color:#393939;
}
.authen-page .authen-box .card-body .forgetpass a{
  color: #0090af;
  font-size: 15px;
  text-decoration: underline;
}
.authen-page .authen-box .card-body .signupBtn a{
  color: #f9a51a;
  font-size: 15px;
  text-decoration: underline;
  padding: 0;
  background: transparent;
  border: none;
}
.authen-page .authen-box .card-body #loginbtn{
  background: #ffd007;
  padding: 10px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
}
.authen-page .authen-box .card-body #cancelbtn{
  background: #f4f4f4;
  padding: 10px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
}
/* home page */
.home-page h2{
  font-size:40px;
  margin-bottom:10px;
}
.home-page p{
  font-size:16px;
}
.home-page ul{
  padding-left:0px;
  margin-bottom:15px;
  overflow:hidden;
}
.home-page ul li{
  float:left;
  list-style:none;
}
.home-page ul li a img{
  width:25px;
  margin-right:5px;
}
.home-page ul li a span{
  font-size:16px;
}
.home-page .submit-form{
  margin: 30px -15px 15px -15px;
}
.home-page .submit-form a{
  width: 100%;
  display: block;
  text-align: center;
  background: #ffd007;
  padding: 10px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  color: #393939;
}
.home-page .submit-form .signupBtn a{
  background:#01a3b6;
  color:#fff;
}
.home-page .menu-links{
  margin-top:20px;
}
.home-page .menu-links a{
  font-size: 16px;
  color: #393939;
  font-weight: bold;
  padding-right: 10px;
  text-decoration: underline;
}
.home-page .hyphen-link{
  padding-right: 10px;
}

/* footer */

.wrapper-page .wrapper-footer{
  position:fixed;
  bottom:0px;
}
.wrapper-page .wrapper-footer p{
  float:left;
}
.wrapper-page .wrapper-footer ul{
  float: left;
  padding-left: 15px;
}
.wrapper-page .wrapper-footer ul li{
  float:left;
  list-style: none;
}
.wrapper-page .wrapper-footer ul li a{
  color: #393939 !important;
  margin-right: 15px;
  text-decoration: underline;
}
/**register*/
.signup-box .signupBtn{
  background:#01a3b6;
  color:#fff;
  padding: 10px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
}
.signup-box #school{
  border: 1px solid #f0f3f3;
  border-radius: 10px;
  height: 40px;
  color: #393939;
}
.signup-box .school{
  position: relative;
}
.signup-box .school:before{
  content: "\f107";
  font-family: FontAwesome;
  font-style: initial;
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  right: 10px;
  top: 34px;
}
.signup-box .school select {
/* for Firefox */
-moz-appearance: none;
/* for Chrome */
-webkit-appearance: none;
width: 100% !important;
}

/* For IE10 */
.signup-box .school select::-ms-expand {
display: none;
}
#page-content .authen-box .form-group{
  margin-bottom:10px;
}
#signupForm .form-group{
  position: relative;
}
#signupForm .form-group .registrationFormAlert{
  position: absolute;
  top: 40px;
  right: 10px;
}
.badge-danger {
  color: #fff !important;
  background-color: #d9534f !important;
}
.not-allowed{
  cursor:not-allowed !important;
}
.not-allowed button{
  pointer-events: none;
}
.signup-box .submit-form{
  margin-top:15px;
}
.student-page #page-content .choose-new-subject-box > div{
  height:188px;
}
/* about us page */
.go-back a{
  background: #f4f4f4;
  padding: 10px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  width:200px;
  display:inline-block;
  text-align:center;
}
.about-page h2{
  font-size: 35px;
  margin-bottom: 20px;
}
/**FAQs*/
.faqs-page{
  padding-bottom: 80px;
}
.faqs-page ul{
  padding-left: 2px;
  margin: 0px 0px 0px 0px;
  padding-top: 5px;
  padding-right: 2px;
}
.faqs-page ul li{
  list-style: none;
  margin-bottom:15px;
}
.faqs-page ul li a{
  background: #fff;
  display: block;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 2px #ccc;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  text-decoration:none !important;
  margin-bottom:0px;
}
.faqs-page ul li a .fa{
    font-size: 30px;
    position: absolute;
    right: 15px;
    top: 10px;
}
.faqs-page ul li div.contentToggle{
  padding: 10px 0px 0px 0px;
  border-radius: 0px;
  box-shadow: none;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0px !important;
}
.faqs-page ul li div.contentToggle{
  margin:0px 0px 15px 0px;
}
.faqs-page ul li div.contentToggle .fa{
  font-size: 30px;
  position: absolute;
  right: 1px;
  top: -10px;
}
.faqs-page ul li div.contentToggle h3{
  margin-top:0px;
  font-size:16px;
  font-weight:bold;
  margin-bottom:0px;
  position: relative;
  cursor: pointer;
  padding-right: 10px;
  line-height: 22px;
}
.faqs-page ul li div.contentToggle p{
  font-weight:normal;
}
/**student page*/
.student-page .breadcrumbs a i{
  font-size: 34px;
  display: inline-block;
  margin-right: 10px;
}
.student-page .subject-box{
  background: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px #ccc;
  margin-bottom:30px;
  position: relative;
}
.student-page .subject-box a{
  text-decoration: none !important;
  position: relative;
  display: block;
}
.student-page .subject-box a:hover{
  color: #f7971d;
}

.student-page .subject-box .fa-lock ,.student-page .subject-box .fa-lock-open{
  position: absolute;
  right: 15px;
  font-size: 22px;
  top: 18px;
}
.status-lock{
  position: absolute;
  right: 15px;
  font-size: 22px;
  top: 10px;
  width: 22px;
  height: 22px;
}
.status-lock img{
  width: 100%;
  /* height: 100%; */
}
.student-page .subject-box h2{
  margin: 10px 0px;
  font-size: 20px;
  font-weight: normal;
  border-bottom: 1px solid #eae7e7;
  padding-bottom: 10px;
  word-break: break-all;
  cursor: pointer;
}
.student-page .subject-box h2 a{
  font-size:20px;
  padding-right:25px;
}
.student-page .subject-box h3{
  font-size: 16px;
  margin: 15px 0px;
  font-weight: bold;
}
.student-page .subject-box .subject-meta-box h3{
  position:relative;
}
.student-page .subject-box .subject-meta-box h3 .b13-tooltip{
  position: absolute;
  background: rgba(16, 151, 195, 0.84);
  padding: 8px;
  color: #fff;
  top: -45px;
  border-radius: 5px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition:all 0.3s linear;
  -ms-transition:all 0.3s linear;
  transition:all 0.3s linear;
}
.student-page .subject-box .subject-meta-box h3 .b13-tooltip:before{
    position: absolute;
    content: "";
    border-top: 10px solid rgba(16, 151, 195, 0.84);
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    top: 33px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.student-page .subject-box .subject-meta-box h3:hover .b13-tooltip{
    visibility: visible;
    opacity: 1;
}
.student-page .subject-box .subject-meta-box h3:hover .b13-tooltip:before{
  visibility: visible;
  opacity: 1;
}
.student-page .subject-box h3 span{
  float:right;
}
.student-page .subject-box .progress-bar{
  background: url('../img/progress-bar.png');
  background-position: left;
  background-size: cover;
  background-repeat: repeat-x;
  border: none;
  box-shadow: none;
}
.student-page .subject-box .progress{
  background: url(../img/not-complete-progress.png);
  border: none;
  box-shadow: none;
  border-radius: 0;
  height: 22px;
  background-position: left;
  background-size: cover;
  background-repeat: repeat-x;
}
.subject-add-more{
  height: 226px;
}
.subject-add-more a{
  text-align: center;
  display: block;
  padding-top: 21%;
}
.subject-add-more a span{
  display: inline-block;
  color: #499db9;
  font-size: 61px;
  float: none;
  margin-bottom: 10px;
}
.subject-add-more a p{
  font-size: 22px;
  color: #499db9;
  margin-bottom:0px;
}
.logo .logout{
  color: #00abbf;
  background: #fff;
  border: none;
  float: right;
  font-size: 17px;
  padding: 8px 20px;
  margin-top: 32px;
  border-radius: 10px;
}
.logo .logout span{
  color: #00abbf;
}
.current-subjects{
  position: relative;
  overflow-x: hidden !important;
  /* padding-top:25px; */
}
.current-subjects .visible_0{
  display: none;
}
.current-subjects .subject-box{
  margin-right:14px;
  height:230px;
  position: relative;
  margin-right:0px;
}
.current-subjects .subject-box:last-child{
  margin-bottom: 0px;
}
.current-subjects > .subject-box:last-child{
  margin-bottom: 0px;
}
.current-subjects .subject-box .fa-close{
    position: absolute;
    right: 12px;
    background: #ff3322;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    top: 10px;
    z-index: 10;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}
.current-subjects .subject-box:hover .fa-close{
  visibility: visible;
  opacity: 1;
}
.current-subjects .ps__rail-x{
  display:none;
}
.choose-new-subject-page h2{
  font-size: 24px;
  margin-bottom: 16px;
}
.choose-new-subject-box{
  position: relative;
  overflow-x: hidden !important;
}
.choose-new-subject-box .visible_0{
  display:none;
}
.choose-new-subject{
  word-wrap: break-word;
  height: 135px;
  margin-bottom: 30px;
  display: table;
  width: 100%;
  box-shadow: 1px 1px 3px #ccc;
  overflow: hidden;
  border-radius: 10px;
}
.choose-new-subject .fa-book{
  word-wrap: break-word;
  height: 95px;
  font-size: 90px;
  display: table;
  width: 100%;
  color: #008cac;
  line-height: 95px;
  padding-top: 5px;
}
.choose-new-subject a{
  text-align: center;
  background: #fff;
  padding: 10px 10px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #ccc;
  margin-bottom: 30px;
  height: 100%;
  width: 100%;
  word-break: break-word;
  display: table-cell;
  vertical-align: middle;
  text-decoration: none !important;
  text-align:center;
}
.choose-new-subject a:hover{
  color: #f7971d;
  /* color:#fff; */
  text-decoration: none;
}
.choose-new-subject a:hover span{
  color: #f7971d;
}
.choose-new-subject a:hover i.fa-book{
  color: #f7971d;
}
.choose-new-subject a img{
  width: 150px;
  margin-right: 0px;
  height: 100px;
  display:inline-block;
}
.choose-new-subject a span{
  padding:5px 0px;
  display: block;
}
.current-subjects .ps-container > .ps-scrollbar-x-rail,
.current-subjects .ps-container > .ps-scrollbar-y-rail {   opacity: 0.6; }
.current-subjects .ps__rail-y{
  opacity: 1;
  background: #fff;
  width: 6px;
  box-shadow: 0px 0px 1px #ececec;
  right: 2px !important;
  border-radius: 6px;
}
.current-subjects .ps__rail-y .ps__thumb-y{
  background:#363636;
  right: 0;
}
.choose-new-subject-box .ps__rail-y{
  opacity: 1;
  background: #fff;
  width: 6px;
  box-shadow: 0px 0px 1px #ececec;
  right: 2px !important;
  border-radius: 6px;
}
.choose-new-subject-box .ps__rail-y .ps__thumb-y{
  background:#363636;
  right: 0;
}
/****Topic options****/
#currentSubject .modal-title{
  font-size:18px;
  color:#565656;
}
#currentSubject button.close{
  margin-top:-24px !important;
}
#currentSubject button.close span{
  font-size: 25px;
}
label.customLabel{
  height:35px;
  line-height:35px;
}
#currentSubject .modal-header{
  position: relative;
  border:none;
  padding: 15px 25px;
}
#currentSubject .modal-header:before{
  content: "";
  position: absolute;
  bottom: 0px;
  height: 1px;
  width: 92%;
  background: #e5e5e5;
  left: 4%;
}
#currentSubject .modal-body {
    position: relative;
    padding: 15px 10px 15px 10px;
}
#currentSubject .modal-footer{
    padding: 0px 10px 15px 10px;
    text-align: right;
    border-top: none;
}
#currentSubject .modal-footer button{
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  color: #565656;
  border: none;
  padding: 10px 12px;
}
#currentSubject .modal-footer button.btn-primary{
  background:#ffd306;
}
#currentSubject .modal-footer button.btn-secondary{
  background:#f4f4f4;
}
/**student detail*/
.student-detail{
  background: #fff;
  position: relative;
  overflow: hidden;
  padding: 20px 20px;
  box-shadow: 1px 1px 1px #ccc;
  border-radius: 10px;
  margin: 20px 0px;
}
.student-detail h1.title{
  font-size: 26px;
  margin: 0px 0px 15px 0px;
  color: #565656;
}
.student-detail button{
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  color: #565656;
  border: none;
  padding: 10px 12px;
  outline: 0 !important;
}
.student-detail button.btn-primary{
  background:#ffd306;
}
.student-detail button.btn-secondary{
  background:#f4f4f4;
}
.student-detail .student-pagination{
  /* overflow: hidden; */
  margin-top: 20px;
}
.student-detail .student-pagination p{
  text-align: center;
  font-size: 18px;
  margin-top: 13px;
}
.examboard-form{
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.examboard-form:before {
  content: "\f107";
  font-family: FontAwesome;
  font-style: initial;
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  right: 8px;
  top: 4px;
  color: #414141;
  z-index: 0;
}
.examboard-form select{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  box-shadow: none;
  z-index: 10;
  position: relative;
  border:none;
}

.checkboxSubjectOption input[type="checkbox"]{
  -webkit-appearance: initial;
  appearance: initial;
  width: 15px;
  height: 15px;
  border: none;
  background: #fff;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: -1px;
  outline: 0 !important;
}
.checkboxSubjectOption input[type="checkbox"]:checked {
  background:#fff;
}
.checkboxSubjectOption input[type="checkbox"]:checked:after {
  content: "\2713";
  color: #f7981d;
  position: absolute;
  left: 51%;
  top: 49%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
/* student test */
.student-test{
  clear: both;
  overflow: hidden;
  background: #fff;
  padding: 30px;
  border-top: 4px solid #d43030;
  box-shadow: 0px 0px 5px #ccc;
  position: relative;
  border-radius: 5px;
}
.student-test .main-student-content{
  text-align: center;
}
.student-test .main-student-content h3{
  margin: 0px 0px 10px 0px;
  font-size: 20px;
  color: #4c4c4c;
}
.checkboxOptions label{
  padding-right:20px;
  position: relative;
}
.checkboxOptions label i{
  position: absolute;
  right: -5px;
  font-size: 20px;
  top: 0px;
  display:block !important;
}
.checkboxOptions label i.fa-close{
  color:#ff3322;
}
.checkboxOptions label i.fa-check{
  color:#4fd24c;
}
.shortanswer-type label i{
  margin-top:7px;
}
.checkboxOptions input[type="checkbox"]{
  -webkit-appearance: initial;
  appearance: initial;
  width: 15px;
  height: 15px;
  border: none;
  background: #fff;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: -1px;
  outline: 0 !important;
}
.checkboxOptions input[type="checkbox"]:checked {
  background:#fff;
}
.checkboxOptions input[type="checkbox"]:checked:after {
  content: "\2713";
  color: #f7981d;
  position: absolute;
  left: 51%;
  top: 49%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.shortanswer-type input{
  display: block;
  width: 250px;
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
}
.student-test .main-student-content .form-group{
  text-align: justify;
  display: inline-block;
}
.student-test .student-pagination{
  overflow: hidden;
  width: 60%;
  margin: 0 auto;
}
.student-pagination button{
    padding: 8px 20px;
    font-size: 15px;
    width: 240px;
}
.student-pagination button.complete{
  background: #00a9bd;
  border: 1px solid #00a9bd;
  margin-left:20px;
}
.student-pagination button.save{
  background: #f4f4f4;
  border: 1px solid #f4f4f4;
  color: #212121;
}
.student-pagination-box{
  text-align: center;
}
.student-detail .previous-student-pagination{
  margin-top: -40px;
}
.test-result{
  border-top:none;
}
.test-result h2{
  color: #f7981d;
  margin: 15px 0px;
  font-size: 50px;
  font-weight: bold;
}
.main-student-question.active{
  cursor: pointer;
  pointer-events: none;
}
.feedback span *{
  color:green;
}
.feedback span{
  color:green;
}
.feedback p{
  margin-bottom:0px;
}
.toggleFaqsBox{
  margin-top:15px;
  margin-bottom:0px;
  height:375px;
  position: relative;
}
.student-dashboard .current-subjects .subject-box:last-child{
  margin-bottom: 30px;
}
@media screen and (min-width:320px) and (max-width:640px){
  body .wrapper-page{
    overflow: initial;
  }
  .choose-new-subject-page .current-subject-box > h2{
    font-size: 20px;
    padding-left: 13px;
  }
  .checkboxSubjectOptionBox{
    margin-bottom:5px !important; 
  }
  .student-page .breadcrumbs {
      display: initial;
      height: initial;
      font-size: 20px;
  }
  .student-page .breadcrumbs a i {
      font-size: 25px;
      margin-right: 10px;
  }
  .student-page .breadcrumbs .change-subject-option {
    display: block;
      margin-top: 10px;
  }
  .choose-new-subject-page h2{
    font-size:20px;
  }
  .wrapper-page {
      padding-bottom: 0px;
  }
  .wrapper-page h1.logo {
      margin: 16px 0px 15px 0px;
      text-align: center;
  }
  .wrapper-page h1.logo img {
      width: 60%;
  }
  .background-icon {
      height: 130px;
      width: 21%;
  }
  .home-page h2 {
      font-size: 22px;
      text-align: center;
  }
  .home-page p {
      font-size: 14px;
  }
  .home-page ul {
      margin-bottom: 5px;
  }
  .home-page ul li a span {
      font-size: 14px;
      width: calc(100% - 35px);
      display: inline-block;
      float: right;
  }
  .wrapper-page .wrapper-footer {
    padding-top: 10px;
    position: relative;
    overflow: hidden;
    margin-bottom: 0px;
  }
  .home-page ul li {
      margin-bottom: 5px;
  }
  .home-page .submit-form a {
      margin-bottom: 15px;
  }
  .home-page .menu-links {
      margin-top: 0px;
  }
  .home-page .submit-form .signupBtn a {
      margin-bottom: 0px;
  }
  .wrapper-page .wrapper-footer p {
      margin-bottom: 5px;
  }
  .home-page #user-notifications + div{
      display:none;
  }
  .wrapper-page .wrapper-footer ul {
      float: left;
      padding-left: 0px;
  }
  /**login**/
  .authen-page .authen-box .card-block h1 img {
      width: 65%;
  }
  .authen-page .authen-box .card-block h1{
      text-align: center;
      margin: 13px 0px 15px 0px;
  }
  .authen-page .authen-box .card-body h2 {
      font-size: 22px;
      text-align: center;
  }
  .authen-page .authen-box .card-body .forgetpass a {
      font-size: 14px;
  }
  .authen-page .authen-box .card-body .signupBtn{
      float:left !important;
  }
  .authen-page .authen-box .card-body .signupBtn a{
      font-size:14px;
  }
  #course-footer > .col-md-12{
      margin-left:-15px;
      margin-right:-15px;
  }
  .wrapper-page .wrapper-footer p{
      font-size:14px;
  }
  .wrapper-page .wrapper-footer ul li a {
      margin-right: 10px;
      font-size: 14px;
  }
  .authen-page .authen-box .card-body #cancelbtn{
      margin-bottom:15px;
  }
  .signup-box .signupBtn {
      margin-top: 0px !important;
  }
  .authen-page .authen-box .card-body .cancelBtnRegister #cancelbtn {
      margin-bottom: 5px;
  }
  #page-login-signup #course-footer > .col-md-12 {
      margin-left: 0px;
      margin-right: 0px;
  }
  .authen-page .authen-box .card-body .form-group label {
      text-transform: capitalize;
  }
  
  /*********About us*********/
  .about-page .authen-box .card-block h1 img {
      width: 65%;
  }
  .about-page .authen-box .card-block h1{
      text-align: center;
      margin: 13px 0px 15px 0px;
  }
  .about-page h2 {
    font-size: 22px;
    text-align: center;
  }
  .about-page p {
    font-size: 14px;
  }
  .about-page > .row > .col-md-7{
    padding-right:15px;
  }
  .about-page .go-back a {
    width: 100%;
    margin-bottom: 15px;
  }

  /*********faq us*********/
  .faqs-page .authen-box .card-block h1 img {
    width: 65%;
  }
  .faqs-page .authen-box .card-block h1{
      text-align: center;
      margin: 13px 0px 15px 0px;
  }
  .faqs-page h2 {
    font-size: 22px;
    text-align: center;
  }
  .faqs-page p {
    font-size: 14px;
  }
  .faqs-page > .row > .col-md-7{
    padding-right:15px;
  }
  .faqs-page .go-back a {
    width: 100%;
    margin-bottom: 15px;
  }
  .faqs-page {
      padding-bottom: 10px;
  }
  .logo .logout {
    float: right;
    font-size: 17px;
    padding: 7px 14px;
    border-radius: 10px;
    vertical-align: middle;
    display: table-row;
    width: 84px;
    margin-left: 0px;
    margin-top: 7px;
  }
  .current-subjects {
    margin-top: 15px;
  }
  .current-subjects .subject-box{
    margin-right: 0px;
  }
  .wrapper-page .student-page h1.logo{
    margin: 16px 0px 15px 0px;
    text-align: center;
    display: table;
  }
  .wrapper-page .student-page h1.logo a.logoUrl{
    width: calc(100% - 110px);
    float: left;
  }
  .wrapper-page .student-page h1.logo a.logoUrl img{
    width: 100%;
  }
  
  .current-subjects > .col-md-12{
    padding-left:15px;
  }
  .student-detail .student-pagination{
    margin-top:0px;
  }
  .student-pagination button{
    width: 100%;
  }
  .student-detail .student-pagination.col-md-3.pull-right{
    width: 100%;
    margin: 0;
    padding: 0 15px;
    margin-bottom: 5px;
  }
  .student-detail .previous-student-pagination{
    margin-top: 0px;
  }
  .student-test .main-student-content .form-group{
    margin-bottom:0px;
  }
  .student-test .student-pagination{
    width: 100%;
  }
  .student-pagination button.complete{
    margin-left:0px;
    margin-top:10px;
  }
  .student-test {
      padding: 20px 10px;
  }
}

@media screen and (max-width: 640px) and (min-width: 359px){
  .background-icon {
      height: 140px;
      width: 80px;
  }
}

@media screen and (max-width: 768px) and (min-width: 641px){
  .background-icon {
      width: 48%;
  }
  .home-page > .row > .col-md-6{
          flex: 0 0 60%;
          max-width: 100%;
  }
    .student-test .student-pagination {
      overflow: hidden;
      width: 100%;
      margin: 0 auto;
  }
}
@media screen and (max-width: 1025px) and (min-width: 769px){
  .background-icon {
      width: 45%;
  }
  .home-page > .row > .col-md-6{
          flex: 0 0 60%;
          max-width: 59%;
  }
  .student-test .student-pagination {
      overflow: hidden;
      width: 95%;
      margin: 0 auto;
  }
}

@media screen and (max-width: 374px) and (min-width: 360px){
  .logo .logout {
    margin-top: 15px;
  }
}
@media screen and (max-width: 767px) and (min-width: 414px){
  .logo .logout {
    padding: 9px 14px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 1025px) and (min-width: 768px){
  .current-subject-box{
    padding-left:15px;
  }
}
.choose-new-subject-box .ps__rail-y .ps__thumb-y{
  background:#363636;
  right: 0;
}
.page-content-box{
  position: relative;
  overflow-x: hidden !important;
}
/* @media screen and ( min-width: 320px ) and ( max-width: 1400px ){
  .wrapper-page .wrapper-footer {
    position: relative;
    bottom: 0px;
}
} */