@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");
/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   version 2.8
 *
 */
 @font-face {
  font-family: 'open-sans';
  src: url('../fonts/Open-Sans-Regular.ttf');
}
html{
  height:100%;
  font-family: open-sans !important;
}
h1,h2,h3,h4,h5,p,span,i,ul,li,a,button,input,textarea{
  color:#565656;
  font-family: open-sans !important;
}
p,a{
  font-size:16px;
  font-family: open-sans !important;
}
body{
  background:#f5fcfc !important;
  font-family: open-sans !important;
  height:100%;
}
.no-padding-left{
    padding-left:0px;
}
.no-padding-top{
    padding-top:0px;
}
.no-padding-right{
    padding-right:0px;
}
.no-padding-bottom{
    padding-bottom:0px;
}
.wrapper-page{
    background:#f5fcfc;
    position:relative;
    padding-bottom:0px; 
    height:100%;
}
body#page-login-signup{
    height:100%;
    overflow:hidden;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../dashboard/img/processing-icon.gif) center no-repeat #fff;
}
.wrapper-page h1.logo{
    padding:20px 0px 20px 0px;
    margin-bottom:0px;
}
.wrapper-page h1.logo img{
    width:300px;
} 
.background-icon{
    position: absolute;
    top: -10px;
    right: 0;
    height: 100%;
}
#page-login-signup .background-icon {
    top: -20px;
}
.page-content-box {
    position: relative;
    overflow-x: hidden !important;
}
.authen-page .authen-box{
    border:none;
    background:transparent;
}
.authen-page .authen-box .card-block{
    border:none;
}
.authen-page .authen-box .card-block h1{
    padding: 0;
    background: transparent;
    border: none;
    margin: 30px 0px;
}
.authen-page .authen-box .card-block h1 img{
    width:300px;
}
.authen-page .authen-box .card-body{
    padding:0px;
}
.authen-page .authen-box .card-body h2{
    font-size:40px;
    color:#393939;
}
.authen-page h1{
    padding: 0;
    background: transparent;
    border: none;
}
.authen-page h1 img{
    width: 300px;
}
.authen-page .authen-box .card-body .form-group label{
    color:#393939;
}
.authen-page .authen-box .card-body .form-group input[type="text"] ,.authen-page .authen-box .card-body .form-group input[type="password"]{
    border: 1px solid #f0f3f3;
    border-radius: 10px;
    height: 40px;
    color:#393939;
    cursor: default;
}
.authen-page .authen-box .card-body .forgetpass a{
    color: #0090af;
    font-size: 15px;
    text-decoration: underline;
}
.authen-page .authen-box .card-body .signupBtn a{
    color: #f9a51a;
    font-size: 15px;
    text-decoration: underline;
    padding: 0;
    background: transparent;
    border: none;
}
.authen-page .authen-box .card-body #loginbtn{
    background: #ffd007;
    padding: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
}
.authen-page .authen-box .card-body #loginbtn2{
    background: #ffd007;
    padding: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
}
.loginbtn .btn.loginbtn1{
    display: none;
}
#login div.username, #login div.password{
    display: none;
    margin-top:8px;
}
.authen-page .authen-box .card-body #cancelbtn{
    background: #f4f4f4;
    padding: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    color: #212529;
}
/* home page */
.home-page h2{
    font-size:40px;
    color:#393939;
    margin-bottom:10px;
}
.home-page p{
    font-size:16px;
    color:#393939;
}
.home-page ul{
    padding-left:0px;
    margin-bottom:15px;
    overflow:hidden;
}
.home-page ul li{
    float:left;
    list-style:none;
}
.home-page ul li a img{
    width:25px;
    margin-right:5px;
}
.home-page ul li a span{
    font-size:16px;
}
.home-page .submit-form{
    margin: 30px -15px 15px -15px;
}
.home-page .submit-form a{
    width: 100%;
    display: block;
    text-align: center;
    background: #ffd007;
    padding: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    color: #393939;
}
.home-page .submit-form .signupBtn a{
    background:#01a3b6;
    color:#fff;
}
.home-page .submit-form .linkSignupBtn a{
    background:#01a3b6;
    color:#fff;
}
.home-page .menu-links{
    margin-top:20px;
}
.home-page .menu-links a{
    font-size: 16px;
    color: #393939;
    font-weight: bold;
    padding-right: 10px;
    text-decoration: underline;
}
.home-page .hyphen-link{
    padding-right: 10px;
}

/* footer */

.wrapper-page .wrapper-footer{
    position:absolute;
    bottom:0px;
}
.wrapper-page .wrapper-footer p{
    float:left;
}
.wrapper-page .wrapper-footer ul{
    float: left;
    padding-left: 15px;
}
.wrapper-page .wrapper-footer ul li{
    float:left;
    list-style: none;
}
.wrapper-page .wrapper-footer ul li a{
    color: #393939 !important;
    margin-right: 15px;
}
/**register*/
.registerHereBtn a{
    color: #f9a51a;
    font-size: 15px;
    text-decoration: underline;
    padding: 0;
    background: transparent;
    border: none;
  }
.signup-box .signupBtn{
    background:#01a3b6;
    color:#fff;
    padding: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
}
.signup-box #school{
    border: 1px solid #f0f3f3;
    border-radius: 10px;
    height: 40px;
    color: #393939;
}
.signup-box .school{
    position: relative;
}
.signup-box .school:before{
    content: "\f107";
    font-family: FontAwesome;
    font-style: initial;
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    right: 10px;
    top: 34px;
}
.signup-box .school select {
	/* for Firefox */
	-moz-appearance: none;
	/* for Chrome */
	-webkit-appearance: none;
	width: 100% !important;
}

/* For IE10 */
.signup-box .school select::-ms-expand {
	display: none;
}
#page-content .authen-box .form-group{
    margin-bottom:10px;
}
#signupForm .form-group{
    position: relative;
}
#signupForm .form-group .registrationFormAlert{
    position: absolute;
    top: 40px;
    right: 10px;
}
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
} 
.badge-danger {
    color: #fff !important;
    background-color: #d9534f !important;
}
.not-allowed{
    cursor:not-allowed !important;
}
.not-allowed button{
    pointer-events: none;
}
.signup-box .submit-form{
    margin-top:15px;
}
/**custom admin moodle***/
#page-mod-book-edit ,#page-mod-book-view ,.format-topics{
    margin-left:0px !important;
    background:#f2f4f8;
}
#page-mod-book-edit .navbar ,#page-mod-book-view .navbar, .format-topics .navbar{
    display:none;
}
#page-mod-book-edit #page ,#page-mod-book-view #page ,.format-topics #page{
    margin-top:0px;
}
#page-mod-book-edit #nav-drawer, #page-mod-book-view #nav-drawer, .format-topics #nav-drawer{
    display:none;
}
#page-mod-book-edit #page-header, #page-mod-book-view #page-header, .format-topics #page-header{
    display: none;
}
#page-mod-book-edit #page-footer, #page-mod-book-view #page-footer, .format-topics #page-footer{
    display: none;
}
#page-mod-book-edit #region-main-box, #page-mod-book-view #region-main-box, .format-topics #region-main-box{
    padding:0px;
}
#page-mod-studentquiz-view .questionbankwindow .alert-success{
    margin-top:10px;
}
#page-mod-book-view .activity-navigation, #page-mod-studentquiz-view .activity-navigation{
    display: none;
}
.path-mod-studentquiz .alloptions > div{
    display: none;
}
.path-mod-studentquiz .alloptions > div:nth-child(1), .path-mod-studentquiz .alloptions > div:nth-child(2), .path-mod-studentquiz .alloptions > div:nth-child(5){
    display: block;
}
.path-question-type #id_defaultmark{
    pointer-events: none;
}
.path-question-type #id_generalheader .fcontainer > div:nth-child(5), .path-question-type #id_generalheader .fcontainer > div:nth-child(6), .path-question-type #id_generalheader .fcontainer > div:nth-child(8), .path-question-type #id_generalheader .fcontainer > div:nth-child(9){
    display: none;
}
#page-question-type-multichoice #id_generalheader .fcontainer > div:nth-child(6){
    display:block;
}
#page-question-type-multichoice #id_generalheader .fcontainer > div:nth-child(7){
    display:none;
}
#page-question-type-multichoice #id_generalheader .fcontainer > div:nth-child(6) .col-md-3{
    float:left;
}
#page-question-type-multichoice #id_generalheader .fcontainer > div:nth-child(5){
    display: block;
}
#page-question-type-multichoice #id_generalheader .fcontainer > div:nth-child(5) .col-md-3{
    float:left;
}
#page-question-type-truefalse #id_generalheader .fcontainer > div:nth-child(8){
    display:block;
}
#page-question-type-truefalse #id_generalheader .fcontainer > div:nth-child(8) .col-md-3{
    float:left;
}
#page-question-type-multichoice #id_answerhdr .fcontainer > div:nth-child(3n){
    display: none;
}
#page-question-type-multichoice #id_answerhdr .custom-select option{
    display: none !important;
}
#page-question-type-multichoice #id_answerhdr .custom-select option:nth-child(1), #page-question-type-multichoice #id_answerhdr .custom-select option:nth-child(2){
    display: block !important;
}
.path-question-type #id_combinedfeedbackhdr, .path-question-type #id_multitriesheader, .path-question-type #id_tagsheader{
display: none;
}
.path-question-type div[data-groupname="updatebuttonar"], .path-question-type div[data-groupname="buttonar"]{
    margin-left:10px;
}
.path-question-type div[data-groupname="updatebuttonar"] .felement > a{
    display: none;
}
.path-question #id_createdmodifiedheader{
    display: none;
}
.path-mod-book #id_general .fcontainer > div:nth-child(2){
    display: none;
}
.path-mod-book #id_tagshdr{
    display: none;
}
#page-mod-book-edit .action-menu-trigger{
    display: none;
}
#page-mod-book-view #action-menu-3-menu > div{
    display: none;
}
#page-mod-book-view #action-menu-3-menu > div:first-child{
    display: block;
}
#page-mod-book-edit #id_content_editoreditable{
    width:100% !important;
}
#page-mod-book-edit .editor_atto_toolbar .files_group button{
    display:none;
}
#page-mod-book-edit .editor_atto_toolbar .files_group button.atto_image_button{
    display:block;
}
.editor_atto_toolbar .links_group{
    display: none !important;
}
#page-login-forgot_password{
    overflow: hidden;
}
#page-login-forgot_password .continuebutton{
    display:none;
}
.editor_atto_content.form-control{
    width:100% !important;
}
.editor_atto_toolbar .files_group button{
    display:none;
}
.editor_atto_toolbar .files_group button.atto_image_button{
    display:block;
}
.swal-icon {
    width: 80px !important;
    height: 80px !important;
}
.book_toc_none ul{
    padding-left:0px;
}
.book_toc_none ul li{
    list-style: none;
}
.book_toc_none ul li a i, .book_toc_none ul li strong i{
    margin-right:5px;
}
#page-mod-studentquiz-view #region-main-box > section[data-region="blocks-column"]{
    display: none;
}
#page-mod-studentquiz-view .modulespecificbuttonscontainer ,#page-mod-studentquiz-view .modulespecificbuttonscontainer{
    display: none;
}
#page-mod-studentquiz-view .action-menu-trigger{
    display: none;
}
#page-mod-studentquiz-view .containsadvancedelements .fcontainer > div:nth-child(1){
    display: none;
}
#page-mod-studentquiz-view .containsadvancedelements .fcontainer > div[data-groupname="name_grp"]{
    display: flex;
}
#page-mod-studentquiz-view .containsadvancedelements .fcontainer > div[data-groupname="questiontext_grp"]{
    display: flex;
}
#page-mod-studentquiz-view .containsadvancedelements .fcontainer > div.moreless-actions{
    display: none;
}
#page-mod-studentquiz-view .categoryquestionscontainer #categoryquestions th.qtype{
    text-align: center;
}
#page-mod-studentquiz-view .categoryquestionscontainer #categoryquestions th.previewaction, #page-mod-studentquiz-view .categoryquestionscontainer #categoryquestions td.previewaction{
    display: none;
}
#page-mod-studentquiz-view .categoryquestionscontainer #categoryquestions th.approved, #page-mod-studentquiz-view .categoryquestionscontainer #categoryquestions td.approved{
    display: none;
}
#page-mod-studentquiz-view .categoryquestionscontainer #categoryquestions th.tags, #page-mod-studentquiz-view .categoryquestionscontainer #categoryquestions td.tags{
    display: none;
}
#page-mod-studentquiz-view .categoryquestionscontainer #categoryquestions th.practice, #page-mod-studentquiz-view .categoryquestionscontainer #categoryquestions td.practice{
    display: none;
}
#page-mod-studentquiz-view .categoryquestionscontainer #categoryquestions th.difficultylevel, #page-mod-studentquiz-view .categoryquestionscontainer #categoryquestions td.difficultylevel{
    display: none;
}
#page-mod-studentquiz-view .categoryquestionscontainer #categoryquestions th.rates, #page-mod-studentquiz-view .categoryquestionscontainer #categoryquestions td.rates{
    display: none;
}
#page-mod-studentquiz-view .categoryquestionscontainer #categoryquestions th.comment, #page-mod-studentquiz-view .categoryquestionscontainer #categoryquestions td.comment{
    display: none;
}
:before{
    font-family: FontAwesome;
}

.authen-page .page-content-box .ps__rail-y{
    padding-right:30px;
    background:transparent;
}
@media screen and (min-width:320px) and (max-width:640px){
    .wrapper-page {
        padding-bottom: 0px;
    }
    .wrapper-page h1.logo {
        margin: 16px 0px 15px 0px;
        text-align: center;
    }
    .wrapper-page h1.logo img {
        width: 65%;
    }
    .background-icon {
        height: 130px;
        width: 21%;
    }
    .home-page h2 {
        font-size: 22px;
        text-align: center;
    }
    .home-page p {
        font-size: 14px;
    }
    .home-page ul {
        margin-bottom: 5px;
    }
    .home-page ul li a span {
        font-size: 14px;
        width: calc(100% - 35px);
        display: inline-block;
        float: right;
    }
    .wrapper-page .wrapper-footer {
        position: relative;
        overflow: hidden;
        margin-bottom:10px;
    }
    .home-page ul li {
        margin-bottom: 5px;
    }
    .home-page .submit-form a {
        margin-bottom: 15px;
    }
    .home-page .menu-links {
        margin-top: 0px;
    }
    .home-page .submit-form .signupBtn a {
        margin-bottom: 0px;
    }
    .wrapper-page .wrapper-footer p {
        margin-bottom: 0px;
    }
    .home-page #user-notifications + div{
        display:none;
    }
    .wrapper-page .wrapper-footer ul {
        float: left;
        padding-left: 0px;
    }
    /**login**/
    .authen-page .authen-box .card-block h1 img {
        width: 65%;
    }
    .authen-page .authen-box .card-block h1{
        text-align: center;
        margin: 13px 0px 15px 0px;
    }
    .authen-page .authen-box .card-body h2 {
        font-size: 22px;
        text-align: center;
    }
    .authen-page .authen-box .card-body .forgetpass a {
        font-size: 14px;
    }
    .authen-page .authen-box .card-body .signupBtn{
        float:left !important;
    }
    .authen-page .authen-box .card-body .signupBtn a{
        font-size:14px;
    }
    #course-footer > .col-md-12{
        margin-left:-15px;
        margin-right:-15px;
    }
    .wrapper-page .wrapper-footer p{
        font-size:14px;
    }
    .wrapper-page .wrapper-footer ul li a {
        margin-right: 10px;
        font-size: 14px;
    }
    .authen-page .authen-box .card-body #cancelbtn{
        margin-bottom:15px;
    }
    .signup-box .signupBtn {
        margin-top: 0px !important;
    }
    .authen-page .authen-box .card-body .cancelBtnRegister #cancelbtn {
        margin-bottom: 5px;
    }
    #page-login-signup #course-footer > .col-md-12 {
        margin-left: 0px;
        margin-right: 0px;
    }
    .authen-page .authen-box .card-body .form-group label {
        text-transform: capitalize;
    }
    /*********About us*********/
    .about-page .authen-box .card-block h1 img {
        width: 65%;
    }
    .about-page .authen-box .card-block h1{
        text-align: center;
        margin: 13px 0px 15px 0px;
    }
    /* #page-login-index #forgotpassword iframe {
        border: none;
        height: 285px;
    }   
    #page-login-forgot_password form .fitem {
        float: left;
        width: 310px;
        margin-left: 0;
    }
    #page-login-forgot_password form #id_submitbuttonusername, #page-login-forgot_password form #id_submitbuttonemail {
        margin-top: -12px;
        margin-left: 0px;
        border-radius: 40px;
    } */
}

@media screen and (max-width: 640px) and (min-width: 359px){
    .background-icon {
        height: 140px;
        width: 80px;
    }
}

@media screen and (max-width: 768px) and (min-width: 641px){
    .background-icon {
        width: 48%;
    }
    .home-page > .row > .col-md-6{
            flex: 0 0 60%;
            max-width: 100%;
    }
}
@media screen and (max-width: 1025px) and (min-width: 769px){
    .background-icon {
        width: 45%;
    }
    .home-page > .row > .col-md-6{
            flex: 0 0 60%;
            max-width: 59%;
    }
}
@media screen and ( min-width: 320px ) and ( max-width: 768px ){
    
}
.page-content-box{
    position: relative;
    overflow-x: hidden !important;
}
