body {
  background: #ffffff;
  color: #080000;
}

.wrapper {
  background: #f6f9fd;
  /* MAIN PAGE */
  /* QUESTION PAGE */
  /* FOOTER */
}

.wrapper .breadcrumb {
  margin: 15px 0px;
}

.wrapper .breadcrumb ul {
  padding-left: 0px;
  margin-bottom: 0px;
}

.wrapper .breadcrumb ul li {
  list-style: none;
  float: left;
  position: relative;
}

.wrapper .breadcrumb ul li a {
  color: #00c5f9;
  text-decoration: none;
}

.wrapper .breadcrumb ul li:before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #636c72;
  content: "/";
}

.wrapper .breadcrumb ul li:first-child:before {
  display: none;
}

.wrapper .main-menu {
  background: #00c5f9;
}

.wrapper .main-menu a {
  color: #ffffff;
}

.wrapper .main-menu button {
  color: #ffffff;
}

.wrapper .main-menu .navbar-nav ul {
  padding-left: 0px;
  margin-bottom: 0px;
}

.wrapper .main-menu .navbar-nav ul li {
  list-style: none;
  float: left;
  position: relative;
}

.wrapper .main-menu .navbar-nav ul li a:hover {
  text-decoration: none;
}

.wrapper .main-menu .navbar-nav ul li ul {
  background: #41d2ff;
  position: absolute;
  min-width: 150px;
  top: 44px;
  visibility: hidden;
  opacity: 0;
  transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
}

.wrapper .main-menu .navbar-nav ul li ul:before {
  position: absolute;
  content: "";
  border-bottom: 10px solid #41d2ff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  top: -18px;
  left: 20px;
}

.wrapper .main-menu .navbar-nav ul li ul li {
  display: block;
  width: 100%;
  /* padding-right:10px; */
}

.wrapper .main-menu .navbar-nav ul li ul li a {
  display: block;
}

.wrapper .main-menu .navbar-nav ul li:hover > ul {
  visibility: visible;
  opacity: 1;
}

.wrapper .main-menu .navbar-collapse a {
  color: #ffffff;
  background: #00c5f9;
  text-align: center;
  padding: 5px 15px;
  border-radius: 15px;
  display: inline-block;
  height: initial;
  margin: 5px;
}

.wrapper .main-menu .navbar-collapse a:hover {
  background: #41d2ff;
  color: #ffffff;
}

.wrapper .main-menu .navbar-collapse a.active {
  background: #41d2ff;
  color: #ffffff;
}

.wrapper .main-menu .searchForm {
  position: relative;
}

.wrapper .main-menu .searchForm input {
  padding-left: 35px;
  min-width: 300px;
  border-radius: 50px;
  border: none;
}

.wrapper .main-menu .searchForm button.fa-search {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: #00c5f9;
  font-size: 20px;
  border: none;
  outline: 0;
}

.wrapper .main-menu .searchForm button.fa-search:hover {
  background: none;
  color: #00c5f9;
}

.wrapper .banner-top img {
  width: 100%;
}

.wrapper .main-page {
  margin-top: 54px;
}

.wrapper .main-page .subject-box {
  margin-top: 30px;
  -webkit-box-shadow: 0px 1px 4px #ccc;
          box-shadow: 0px 1px 4px #ccc;
  border: none;
}

.wrapper .main-page .subject-box a.card-link {
  text-align: center;
  margin: 00px 0px;
  display: block;
  cursor: pointer;
}

.wrapper .main-page .subject-box a.card-link i {
  font-size: 60px;
  border-radius: 50%;
  border: 1px solid #00c5f9;
  color: #00c5f9;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  display: inline-block;
  margin: 20px 0px;
}

.wrapper .main-page .subject-box a.card-link img {
  margin-bottom: 15px;
}

.wrapper .main-page .subject-box div.card-title {
  font-weight: bold;
  font-size: 18px;
}

.wrapper .main-page .subject-box div.card-title a.card-link {
  margin: 0px;
  color: #080000;
  text-align: initial;
  text-align: center;
}

.wrapper .main-page .subject-box div.card-body {
  position: relative;
  padding-bottom: 10px;
  padding-top: 0px;
}

.wrapper .main-page .subject-box div.card-body button {
  background: #00c5f9;
  border: none;
  padding: 6px 25px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  -webkit-box-shadow: 0px 3px 4px #ccc;
          box-shadow: 0px 3px 4px #ccc;
  margin-bottom: 10px;
}

.wrapper .main-page .subject-box div.card-body button a {
  color: #fff;
  text-decoration: none !important;
}

.wrapper .main-page .subject-box div.card-body button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wrapper h1.main-title {
  display: inline-block;
  width: inherit;
  margin: 20px 0px 0px 0px;
  border-bottom: 2px solid #00c5f9;
  padding-bottom: 5px;
  font-size: 24px;
  width: 100%;
  text-transform: capitalize;
}

.wrapper .page-wrapper h1.main-title {
  display: inline-block;
  width: inherit;
  margin: 20px 0px 0px 0px;
  border-bottom: 2px solid #00c5f9;
  padding-bottom: 5px;
  font-size: 24px;
}

.wrapper .loadingPage {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999;
  text-align: center;
  top: 0;
  display: table;
}

.wrapper .loadingPage .loadingBox {
  display: table-cell;
  vertical-align: middle;
  width: 50px;
  /* height: 50px; */
}

.wrapper .question-content {
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.wrapper .isProcessing {
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  height: 169px;
}

.wrapper .direction-box {
  margin: 10px 0px;
  background: #efefef;
  padding: 15px 10px;
  border: 1px solid #ccc;
}

.wrapper .direction-box p {
  margin-bottom: 0px;
}

.wrapper #formQuestion {
  background: #fff;
  padding: 10px;
  margin: 15px;
  border-top: 4px solid #ff3322;
  border-radius: 5px;
  position: relative;
  padding-bottom: 20px;
}

.wrapper #formQuestion .processIcon {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  text-align: center;
  top: 0;
  display: table;
  left: 0px;
}

.wrapper #formQuestion .processIcon .processIconBox {
  display: table-cell;
  vertical-align: middle;
  width: 50px;
  height: 50px;
}

.wrapper #formQuestion .form-label {
  display: block;
  width: 100%;
  text-align: center;
  padding: 15px 15px 0px 15px;
  font-size: 16px;
  font-weight: bold;
}

.wrapper #formQuestion .questionBox {
  margin: 0 auto;
}

.wrapper #formQuestion .questionBox .form-check {
  display: inline-block;
  clear: both;
  float: left;
}

.wrapper #formQuestion .questionBox .form-check .form-check-label {
  margin-top: 2px;
}

.wrapper #formQuestion .questionBox .fa-close {
  float: left;
  margin-left: 5px;
  margin-top: 3px;
  font-size: 16px;
  color: #ff3322;
}

.wrapper #formQuestion .questionBox .fa-check {
  float: left;
  margin-left: 5px;
  margin-top: 3px;
  font-size: 16px;
  color: #00c723;
}

.wrapper #shortAnswer input {
  min-width: 300px;
}

.wrapper .result-page {
  margin-bottom: 40px;
}

.wrapper .result-page .questionBox {
  clear: both;
  width: 100%;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper .result-page .questionBox ul {
  padding-left: 0px;
}

.wrapper .result-page .questionBox ul li {
  list-style: none;
  margin-bottom: 10px;
}

.wrapper .result-page .questionBox ul li label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

.wrapper .result-page .questionBox ul li label p {
  margin-bottom: 0px;
}

.wrapper .result-page .questionBox ul li label i {
  margin-left: 10px;
}

.wrapper .result-page .questionBox ul li.correctAnswer {
  list-style: none;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #00c722;
}

.wrapper .result-page .questionBox ul li.incorrectAnswer {
  list-style: none;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #ff3322;
  color: #ff3322;
}

.wrapper .result-page .questionBox .fa-close {
  margin-top: 3px;
  margin-left: 5px;
  color: #ff3322;
}

.wrapper .result-page .questionBox .fa-check {
  color: #00c723;
  margin-top: 3px;
  margin-left: 5px;
}

.wrapper .result-page .result-content-page p.correct-question-box {
  margin-bottom: 10px;
  background: #fff;
  padding: 20px 10px;
  clear: both;
}

.wrapper .result-page .result-content-page h1 {
  color: #311818;
  font-size: 26px;
  margin: 15px 0px;
  background: #fff;
  padding: 10px 10px 10px 10px;
  border-left: 5px solid #ff3322;
}

.wrapper .result-page .result-content-page h2 {
  font-size: 20px;
  padding: 25px 10px 20px 10px;
  background: #fff;
  margin-bottom: -10px;
  color: #00c723;
  margin-top: 10px;
}

.wrapper .result-page .result-content-page .form-group {
  background: #fff;
  padding: 10px;
  margin: 10px 0px;
}

.wrapper .result-page .result-content-page .form-group .form-label {
  font-size: 18px;
  margin-bottom: 10px;
  /* border-bottom: 2px solid #03c5f9; */
}

.wrapper .result-page .result-content-page .form-group .form-label > span {
  width: 30px;
  background: #03c5f9;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  border-radius: 50px;
  margin-right: 10px;
  margin-top: -3px;
}

.wrapper .result-page .result-content-page .form-group .form-label p {
  margin-bottom: 0px;
}

.wrapper .result-page .resetTesting {
  float: right;
}

.wrapper .countTime {
  margin-left: 20px;
  display: inline-block;
  margin-bottom: -15px;
}

.wrapper footer {
  display: none;
  margin-top: 30px;
  background: #080000;
  padding: 10px 0px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

.wrapper footer p {
  margin-bottom: 0px;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */