$white_color: #ffffff;
$main_color: #00c5f9;
$main_color_hover: #41d2ff;
$main_color_active: #41d2ff;
$black_main_color:#080000;

body{
    background: $white_color;
    color:$black_main_color;
}
.wrapper{
    .breadcrumb{
        margin:15px 0px;
        ul{
            padding-left:0px;
            margin-bottom:0px;
            li{
                list-style: none;
                float:left;
                position: relative;
                a{
                    color:#00c5f9;
                    text-decoration: none;
                }
                &:before{
                    display: inline-block;
                    padding-right: 0.5rem;
                    padding-left: 0.5rem;
                    color: #636c72;
                    content: "/";       
                }
                &:first-child:before{
                    display: none;
                }
            }
        }
    }
    background:#f6f9fd;
    .main-menu{
        background: $main_color;
        a{
            color: $white_color;
        }
        button{
            color: $white_color;;
        }
        .navbar-nav{
            ul{
                padding-left:0px;
                margin-bottom:0px;
                li{
                    list-style: none;
                    float:left;
                    position: relative;
                    a{
                        &:hover{
                            text-decoration: none;
                        }
                    }
                    ul{
                        background: #41d2ff;
                        position: absolute;
                        min-width: 150px;
                        top: 44px;
                        visibility: hidden;
                            opacity: 0;
                            transition: all linear 0.4s;
                            -moz-transition: all linear 0.4s;
                            -webkit-transition:all linear 0.4s;
                            -ms-transition:all linear 0.4s;
                        &:before{
                            position: absolute;
                            content: "";
                            border-bottom: 10px solid #41d2ff;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-top: 10px solid transparent;
                            top: -18px;
                            left: 20px;
                        }
                        li{
                            display: block;
                            width: 100%;
                            /* padding-right:10px; */
                            a{
                                display: block;
                            }
                        }
                        
                    }
                    &:hover > ul{
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
        .navbar-collapse {
            a{
                color: $white_color;
                background: $main_color;
                text-align: center;
                padding: 5px 15px;
                border-radius: 15px;
                display: inline-block;
                height: initial;
                margin:5px;
                &:hover{
                    background: $main_color_hover;
                    color:$white_color;
                }
                &.active{
                    background: $main_color_active;
                    color:$white_color;
                }
            }
        }
        .searchForm{
            position: relative;
            input{
                padding-left: 35px;
                min-width: 300px;
                border-radius: 50px;
                border: none;
            }
            button.fa-search{
                position: absolute;
                top:0;
                left:0;
                height:100%;
                color:$main_color;
                font-size:20px;
                border:none;
                outline:0;
                &:hover{
                    background:none;
                    color:$main_color;
                }
            }
        }
    }
    .banner-top{
        img{
            width:100%;
        }
    }
    /* MAIN PAGE */
    .main-page{
        margin-top: 54px;
        .subject-box{
            margin-top:30px;
            box-shadow:0px 1px 4px #ccc;
            border:none;
            a.card-link{
                text-align:center;
                margin:00px 0px;
                display: block;
                cursor: pointer;
                i{
                    font-size:60px;
                    border-radius:50%;
                    border:1px solid $main_color;
                    color:$main_color;
                    width: 100px;
                    height:100px;
                    line-height:100px;
                    text-align:center;
                    display:inline-block;
                    margin:20px 0px;
                }
                img{
                    margin-bottom:15px;
                }
            }
            div.card-title{
                font-weight: bold;
                font-size: 18px;
                a.card-link{
                    margin:0px;
                    color:$black_main_color;
                    text-align:initial;
                    text-align:center;
                }
            }
            div.card-body{
                position: relative;
                padding-bottom: 10px;
                padding-top: 0px;
                button{
                    background: #00c5f9;
                    border: none;
                    padding: 6px 25px;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 14px;
                    box-shadow: 0px 3px 4px #ccc;
                    margin-bottom:10px;
                    a{
                        color:#fff;
                        text-decoration: none !important;
                    }
                    &:hover{
                        box-shadow: none;
                    }
                }
            }
        }
    }
    h1.main-title {
        display: inline-block;
        width: inherit;
        margin: 20px 0px 0px 0px;
        border-bottom: 2px solid #00c5f9;
        padding-bottom: 5px;
        font-size: 24px;
        width:100%;
        text-transform: capitalize;
    }
    .page-wrapper{
        h1.main-title{
            display: inline-block;
            width: inherit;
            margin: 20px 0px 0px 0px;
            border-bottom: 2px solid #00c5f9;
            padding-bottom: 5px;
            font-size: 24px;
        }
    }
    .loadingPage{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 9999;
        text-align: center;
        top: 0;
        display: table;
        .loadingBox{
            display: table-cell;
            vertical-align: middle;
            width: 50px;
            /* height: 50px; */
        }
    }
    /* QUESTION PAGE */
    .question-content{
        margin-bottom:15px;
        padding-bottom: 15px;
    }
    .isProcessing{
        background:#fff;
        position: absolute;
        left: 0;
        top: 0;
        height:169px;
    }
    .direction-box{
        margin: 10px 0px;
        background: #efefef;
        padding: 15px 10px;
        border: 1px solid #ccc;
        p{
            margin-bottom:0px;
        }
    }
    #formQuestion{
        background: #fff;
        padding: 10px;
        margin: 15px;
        border-top: 4px solid #ff3322;
        border-radius: 5px;
        position: relative;
        padding-bottom:20px;
        .processIcon{
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 9999;
            text-align: center;
            top: 0;
            display: table;
            left:0px;
            .processIconBox{
                display: table-cell;
                vertical-align: middle;
                width: 50px;
                height: 50px;
            }
        }

        .form-label{
            display: block;
            width: 100%;
            text-align: center;
            padding: 15px 15px 0px 15px;
            font-size: 16px;
            font-weight: bold;
        }
        .questionBox{
            margin:0 auto;
            .form-check{
                display: inline-block;
                clear:both;
                float:left;
                .form-check-label{
                    margin-top: 2px;
                }
            }
            .fa-close{
                float:left;
                margin-left: 5px;
                margin-top: 3px;
                font-size: 16px;
                color:#ff3322;
            }
            .fa-check{
                float:left;
                margin-left: 5px;
                margin-top: 3px;
                font-size: 16px;
                color:#00c723;
            }
        }
    }
    #shortAnswer{
        input{
            min-width: 300px;
        }
    }

    .result-page{
        margin-bottom:40px;
        .questionBox{
            clear: both;
            width: 100%;
            display: block;
            padding-left:15px;
            padding-right:15px;
            ul{
                padding-left: 0px;
                li{
                    list-style: none;
                    margin-bottom:10px;
                    label{
                        display: flex;
                        margin-bottom: 0;
                        p{
                            margin-bottom:0px;
                        }
                        i{
                            margin-left:10px;
                        }
                    }
                    &.correctAnswer{
                        list-style: none;
                        display: inline-block;
                        padding: 5px 10px;
                        border: 1px solid #00c722;
                    }
                    &.incorrectAnswer{
                        list-style: none;
                        display: inline-block;
                        padding: 5px 10px;
                        border: 1px solid #ff3322;
                        color:#ff3322;
                    }
                }
            }
            .fa-close{
                margin-top: 3px;
                margin-left: 5px;
                color: #ff3322;
            }
            .fa-check{
                color:#00c723;
                margin-top: 3px;
                margin-left: 5px;
            }
        }
        .result-content-page{
            p.correct-question-box{
                margin-bottom: 10px;
                background: #fff;
                padding: 20px 10px;
                clear:both;
            }
            h1{
                color: #311818;
                font-size: 26px;
                margin: 15px 0px;
                background: #fff;
                padding: 10px 10px 10px 10px;
                border-left: 5px solid #ff3322;
            }
            h2{
                font-size: 20px;
                padding: 25px 10px 20px 10px;
                background: #fff;
                margin-bottom: -10px;
                color: #00c723;
                margin-top:10px;
            }
            .form-group{
                background: #fff;
                padding: 10px;
                margin: 10px 0px;
                .form-label{
                    font-size: 18px;
                    margin-bottom: 10px;
                    /* border-bottom: 2px solid #03c5f9; */
                    &>span{
                        width: 30px;
                        background: #03c5f9;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        color: #fff;
                        border-radius: 50px;
                        margin-right: 10px;
                        margin-top: -3px;
                    }
                    p{
                        margin-bottom: 0px;
                    }
                }
            }
        }
        .resetTesting{
            float:right;
        }
    }
    .countTime{
        margin-left: 20px;
        display: inline-block;
        margin-bottom: -15px;
    }

    /* FOOTER */
    footer{
        display:none;
        margin-top: 30px;
        background: $black_main_color;
        padding: 10px 0px;
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        p{
            margin-bottom:0px;
            color:$white_color;
        }
    }

}
