/***************************
 * User: kraus
 * Date: 01/01/2017
 * Time: 05:01
 ***************************/
body.b13_dashboard_body .col-xs-1,
body.b13_dashboard_body .col-sm-1,
body.b13_dashboard_body .col-md-1,
body.b13_dashboard_body .col-lg-1,
body.b13_dashboard_body .col-xs-2,
body.b13_dashboard_body .col-sm-2,
body.b13_dashboard_body .col-md-2,
body.b13_dashboard_body .col-lg-2,
body.b13_dashboard_body .col-xs-3,
body.b13_dashboard_body .col-sm-3,
body.b13_dashboard_body .col-md-3,
body.b13_dashboard_body .col-lg-3,
body.b13_dashboard_body .col-xs-4,
body.b13_dashboard_body .col-sm-4,
body.b13_dashboard_body .col-md-4,
body.b13_dashboard_body .col-lg-4,
body.b13_dashboard_body .col-xs-5,
body.b13_dashboard_body .col-sm-5,
body.b13_dashboard_body .col-md-5,
body.b13_dashboard_body .col-lg-5,
body.b13_dashboard_body .col-xs-6,
body.b13_dashboard_body .col-sm-6,
body.b13_dashboard_body .col-md-6,
body.b13_dashboard_body .col-lg-6,
body.b13_dashboard_body .col-xs-7,
body.b13_dashboard_body .col-sm-7,
body.b13_dashboard_body .col-md-7,
body.b13_dashboard_body .col-lg-7,
body.b13_dashboard_body .col-xs-8,
body.b13_dashboard_body .col-sm-8,
body.b13_dashboard_body .col-md-8,
body.b13_dashboard_body .col-lg-8,
body.b13_dashboard_body .col-xs-9,
body.b13_dashboard_body .col-sm-9,
body.b13_dashboard_body .col-md-9,
body.b13_dashboard_body .col-lg-9,
body.b13_dashboard_body .col-xs-10,
body.b13_dashboard_body .col-sm-10,
body.b13_dashboard_body .col-md-10,
body.b13_dashboard_body .col-lg-10,
body.b13_dashboard_body .col-xs-11,
body.b13_dashboard_body .col-sm-11,
body.b13_dashboard_body .col-md-11,
body.b13_dashboard_body .col-lg-11,
body.b13_dashboard_body .col-xs-12,
body.b13_dashboard_body .col-sm-12,
body.b13_dashboard_body .col-md-12,
body.b13_dashboard_body .col-lg-12 {
  padding: 0px 15px;
}
.swal-overlay{
  font-size:16px;
  color:#fff;
}
body.b13_dashboard_body{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
}
.tree_item a[href$="classname=dashboard&method=start"],
.tree_item a[href$=local_b13_dashboard] {
  background: url(icon-16.png) no-repeat;
  padding-left: 21px;
}
.tree_item a[href$="classname=dashboard&method=start"] img,
.tree_item a[href$=local_b13_dashboard] img {
  display: none !important;
}

body.remove-overflow {
  overflow: hidden !important;
}

#base-popup {
  background: white;
  border: 0 none;
  position: fixed;
  padding: 10px;
  overflow: visible;
  display: block;
  z-index: 9002;
  outline: 0;
  height: auto;
  max-height: 1200px;
  width: 1100px;
  left: -550px;
  top: 100px;
  bottom: 50px;
  margin: 0 50%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  min-height: 85px;
}
#base-popup #base-popup-close {
  background: transparent url(../../b13_dashboard/pix/dialog_close.png) no-repeat scroll 0 0;
  border: 0 none !important;
  height: 30px;
  right: -15px;
  top: -15px;
  width: 30px;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 2000;
  display: block;
  font-size: 0;
}
#base-popup table {
  margin-top: 0 !important;
}
#base-popup table th, #base-popup table td {
  padding: 1px 8px !important;
}
#base-popup input[type=text] {
  width: 79% !important;
}
#base-popup .operation-container {
  padding: 20px;
  color: #fff;
  max-height: 300px;
  overflow: auto;
}

#operations {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.25) inset;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 0;
  margin: 0;
  width: 100%;
  color: #aaa;
  overflow: hidden;
  position: relative;
  background: -webkit-linear-gradient(top left, #d7bbea, #65a8f1);
  background: linear-gradient(to bottom right, #d7bbea, #65a8f1);
  min-height: 120px;
  height: 100%;
}
#operations img.loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 0;
}
#operations a {
  color: #cdcdcd;
}
#operations h3.operation-header {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #fff;
  border: 0;
  font-size: 14px;
  font-weight: normal;
  height: 35px;
  line-height: 35px;
  padding-left: 8px;
  z-index: 13;
  margin: 0;
}
#operations .operation-header img {
  padding: 0 10px;
  vertical-align: middle;
}
#operations .navigation {
  margin-top: 20px;
  text-align: right;
}
#operations .ui-accordion-header.disabled, #operations .ui-accordion-header.disabled:hover {
  color: #b2b2b2;
  background: #696969;
  background: -moz-linear-gradient(top, #797979, #585858);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #797979), color-stop(1, #585858));
  border: 0 none;
}
#operations .ui-accordion-header.disabled img {
  opacity: 0.5;
}
#operations .ui-accordion-content {
  margin: -6px 0 10px;
  padding: 26px 20px 20px;
  overflow: visible;
  z-index: 12;
  background: #242424;
  border: 0;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.25) inset;
}
#operations .ui-accordion-content form > :last-child {
  margin-bottom: 0;
}
#operations .description {
  line-height: 18px;
  color: #999;
  margin: 0 0 20px;
}
#operations h4 {
  color: white;
  margin-bottom: 20px;
  font-size: 16px;
}
#operations .server-content {
  padding: 15px;
}

.ui-widget-overlay {
  background: #000;
  opacity: 0.75;
  filter: Alpha(Opacity=75);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  z-index: 1001;
}

.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert [class^=icon-],
.alert [class*=" icon-"] {
  margin-right: 5px;
}
.alert.alert-success {
  background-color: #dff0d8;
  border-color: #aed48e;
  color: #468847;
  border-top: 1px solid #94c56a;
}
.alert.alert-success hr {
  border-top-color: #a1cd7c;
}
.alert.alert-success a {
  color: #356635;
  font-weight: bold;
}
.alert.alert-info {
  background-color: #d9edf7;
  border-color: #85d5e5;
  color: #3a87ad;
  border-top: 1px solid #5bc7dc;
}
.alert.alert-info hr {
  border-top-color: #70cee1;
}
.alert.alert-info a {
  color: #083850;
  font-weight: normal;
}
.alert.alert-warning {
  background-color: #ede6c2;
  border-color: #d6b573;
  color: #89724d;
  border-top: 1px solid #caa14c;
}
.alert.alert-warning hr {
  border-top-color: #d0ab60;
}
.alert.alert-warning a {
  color: #68573b;
  font-weight: bold;
}
.alert.alert-danger {
  background-color: #f7d9d9;
  border-color: #e58595;
  color: #b94a48;
  border-top: 1px solid #dc5b70;
}
.alert.alert-danger hr {
  border-top-color: #e17083;
}
.alert.alert-danger a {
  color: #953b39;
  font-weight: bold;
}

.b13-dashboard button,
.b13-dashboard html [type=button],
.b13-dashboard [type=reset],
.b13-dashboard [type=submit] {
  -webkit-appearance: initial !important;
}
.b13-dashboard .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.b13-dashboard .btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.b13-dashboard .btn-primary:focus,
.b13-dashboard .btn-primary.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.b13-dashboard .btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.b13-dashboard .btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

/*WORKING WITH B13 DASHBOARD*/
.b13-list-page{
  position:relative;
  padding-top:20px !important;
}
.modal-body{
  position: relative;
}
.loadingAjaxIcon{
  text-align: center;
  position: absolute;
  top: 50%;
  width:100%;
}
.loadingAjaxIcon img{
  width:20px ;
}
.margin-top-10{
  margin-top:10px;
}
.margin-right-10{
  margin-right:10px;
}
.margin-bottom-10{
  margin-bottom:10px;
}
.margin-left-10{
  margin-left:10px;
}

.padding-top-10{
  padding-top:10px;
}
.padding-right-10{
  padding-right:10px;
}
.padding-bottom-10{
  padding-bottom:10px;
}
.padding-left-10{
  padding-left:10px;
}
.breadcrumb{
  display: none;
}
.breadcrumb.custombreadcrumb{
  display: inline-block;
  float:left
}
.profile-user{
  float: right;
  display: inline-block;
  padding-left: 0px;
  padding: 10px 0px;
  margin-right: 25px;
}
.profile-user li{
  list-style:none;
}
.profile-user li a{
  color:#000;
}
body.b13_dashboard_body{
  padding:0px;
  background: #fff;
}

body.b13_dashboard_body .menu-w .menu-and-user ul.main-menu > li a .menu-icon{
  width: 25px;
  height: 25px;
}
body.b13_dashboard_body .menu-w .menu-and-user ul.main-menu > li a span {
  padding: 16px 5px 10px 10px;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('dashboard/img/processing-icon.gif') center no-repeat #fff;
}
body.b13_dashboard_body .content-w .content-i .content-box #update_learning_material_page{
  position: relative;
}
.loading-material{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(dashboard/img/processing-icon.gif) center no-repeat #fff;
}
.floading{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(dashboard/img/processing-icon.gif) center no-repeat #fff;
}
.image_preview{
  width:100px;
  height:100px;
  margin-top:10px;
}
.image_preview img{
  width: 100%;
  height:100%;
}
.b13-list-page .b13-box p{
  font-size: 16px;
    margin-bottom: 0px;
    color: #000;
} 
.b13-list-page .b13-box{
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #ccc;
  margin-bottom:10px;
}
.b13-list-page .b13-list-view .col-md-2{
  width: 20%;
}
.b13-list-page .b13-box a{
  cursor: pointer;
}
.b13-list-page .b13-box a i{
  font-size: 70px;
  padding: 10px 0px;
  height:90px;
  color: #008cac;
}
.b13-list-page .b13-box a img{
  width:100px;
  height:90px;
  padding:10px 0px;
}
.b13-list-page .b13-box a:hover i{
  color: #f7971d;
}
.b13-list-page .b13-box a:hover h3{
  color: #f7971d;
}
.b13-list-page .b13-box a h3{
  margin-top:0px !important;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  margin-bottom: 0px !important;
  padding: 5px 0px;
  color: #000;
}
.b13-list-page .ps__rail-x{
  display: none;
}

body.b13_dashboard_body .b13-list-page  .row {
  margin-right: -5px;
  margin-left: -5px;
}
.add-new-b13-button{
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 15px;
  outline: 0 !important;
  border: none !important;
}
#myModalLabel{
  margin:0px !important;
}
.content-box .modal h2{
  font-size: 20px;
    margin: 0px 0px 15px 0px;
}
.examboard-page .examboard-box h2{
  font-size: 18px;
  color: #4390eb;
  font-weight: bold;
  margin: 5px 0px 15px 0px;
}
.examboard-page .examboard-box .container-examboard-box{
  padding-left: 0px;
  border: 4px solid #ccc;
  padding: 10px;
  background: #fff;
  outline: thick solid #ffffff;
  position: relative;
}
.examboard-page .examboard-box ul{
  padding-left:0px;
}
.examboard-page .examboard-box ul li{
  list-style: none;
  position:relative;
  padding-left: 0px;
}
.examboard-page .examboard-box ul li input{
  cursor: default !important;
  padding-right: 5px;
  display: inline-block;
  margin-right: 5px;  
  z-index: -100;
}
.examboard-page .examboard-box ul li label{
  cursor: pointer;
  word-break: break-word;
}
#allSubjects li{
  position:relative;
  padding-left:18px;
}
#allSubjects li label{
  width:100%;
}
#allSubjects li label input{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 13px;
  height: 13px; 
}

#unregisterSubtopics li{
  position:relative;
  padding-left:18px;
}
#unregisterSubtopics li label{
  width:100%;
}
#unregisterSubtopics li label input{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 13px;
  height: 13px; 
}


#allSubtopics li.checked label{
    pointer-events: none;
    /* cursor: not-allowed; */
    color: #b1b1b1;
    position: relative;
}
#allSubtopics li.checked label:before{
  position: absolute;
  content: "\f00c";
  font-family: FontAwesome;
  left: 1px;
  z-index: 10;
  font-size: 11px;
  font-weight: 100;
  top: 3px;
}
#allSubtopics li label:after{
  position: absolute;
  content: "";
  left: 0px;
  z-index: 10;
  font-size: 11px;
  font-weight: 100;
  top: 4px;
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}
.examboard-page .examboard-box ul#allSubtopics li input{
  display: none;
}
.examboard-page .examboard-box ul#allSubtopics li{
  padding:0px;
}
.examboard-page .examboard-box ul#allSubtopics li label{
  padding-left: 20px;
}
.switch-subtopic{
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
.switch-subtopic-box{
  text-align: center;
  display: table !important;
  margin:0 auto;
}
.switch-subtopic i{
  font-size: 35px;
  color: #4390eb;
  clear: both;
  display: block;
}
#success-alert{
  position: absolute;
  right: 0;
  top: 0;
}
.loading-subtopic{
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
.loading-subtopic-box{
  text-align: center;
  display: table !important;
  margin:0 auto;
}
.loading-subtopic img{
  width:25px;
}
.loadingAjax{
  position: absolute;
  width: 100%;
  left: 0;
}
.mobile{
  display: none;
}
#reportrange{
  position:relative;
  float:left;
} 
#reportrange .fa-calendar{
  position: absolute;
  right:5px;
  top:10px;
  cursor: pointer;
}
#ActionSubject .modal-body{
  height:450px;
  overflow-y: auto;
}
@media screen and (min-width:320px) and (max-width:768px){
  .mobile{
    display:block;
  }
  body.b13_dashboard_body .content-w .content-i .content-box .element-header {
      margin-bottom: 1rem;
      font-size: 15px;
  }
  body .add-new-b13-button button {
      margin-top: 0px;
      margin-bottom: 8px;
      font-size: 14px;
      outline: 0 !important;
      border: none !important;
  }
  .b13-list-page .b13-list-view .col-md-2 {
    width: 50%;
    float: left;
  }
  .b13-list-page .b13-list-view .col-md-2:nth-child(odd){
    padding-right: 5px;
  }
  .b13-list-page .b13-list-view .col-md-2:nth-child(even){
    padding-left: 5px;
  }
  .b13-box a h3 {
    font-size: 14px;
  }
  .b13-box a i {
    font-size: 50px;
}
body.b13_dashboard_body .content-w .breadcrumb {
  padding: 10px 6px 10px 6px;
}
#myModalLabel {
  font-size: 16px;
}
.profile-user {
  float: right;
  display: inline-block;
  padding-left: 0px;
  padding: 5px 5px;
  margin-right: 25px;
  position: fixed;
  right: 5px;
  margin: 0;
  top: 5px;
  background: #4390eb;
  border-radius: 5px;
}
.profile-user li a{
  color:#fff;
}
}
ul.selectOptionList { 
  height: 35px;
  width: 100%;
  border: 1px #ccc solid;
  padding-left:0px;
  position: absolute;
  z-index: 99;
}
ul.selectOptionList li { padding: 5px 10px; z-index: 2;list-style: none; }
ul.selectOptionList li:not(.init) { float: left; width: 100%; display: none; background: #ddd; }
ul.selectOptionList li:not(.init):hover, ul.selectOptionList li.selected:not(.init) { background: #09f; }
ul.selectOptionList li.init { cursor: pointer; }
ul.selectOptionList .fa-close{
  width:15px;
}
ul.selectOptionList .fa-edit{
  width:15px;
  cursor: pointer;
}
ul.selectOptionList .selectOptionTitle{
  width: calc(100% - 22px);
  float:left;
  cursor: pointer;
}

ul.optionList { 
  height: 35px;
  width: 100%;
  border: 1px #ccc solid;
  padding-left:0px;
}
ul.optionList li { padding: 5px 10px; z-index: 2;list-style: none; }
ul.optionList li:not(.init) { float: left; width: 100%; display: none; background: #ddd; }
ul.optionList li:not(.init):hover, ul.optionList li.selected:not(.init) { background: #09f; }
ul.optionList li.init { cursor: pointer; }
ul.optionList .fa-close{
  width:15px;
}
#selectOption{
  height:30px;
}
ul.optionList .fa-edit{
  width:15px;
  cursor: pointer;
}
ul.optionList .selectOptionTitle{
  width: calc(100% - 22px);
  float:left;
  cursor: pointer;
}
.visible_0{
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}
.examboard-page .visible_0{
  display:none;
}
.visible_0 a{
  opacity: 0.3;
  cursor: not-allowed;
}
.col-sm-6.visible_0{
  display: none;
}
/***learning material***/
#frame{
  border:none;
}
.content-box > h3:first-child{
  display:none;
}
/* report */
.report-page{
  padding-bottom: 30px !important;
}
.report-page .report-box{
  overflow:scroll;
}
.report-box h3{
  font-size: 20px;
  margin: 10px 0px;
}
.report-page .report-box h2{
  font-size: 18px;
  margin-top: 10px !important;
  font-weight: bold;
}
.my-custom-scrollbar {
  position: relative;
  max-height: 400px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
.downloadTeacherBtn{
  margin-top:10px;
}
.report-button-box button{
  margin-top:10px !important;
  display: block !important;
}
.report-page .report-box table{
  margin-bottom:0px;
}
.filter-report{
  margin:15px 0px;
}
.filter-report label{
  height:35px;
  line-height: 35px;
  margin-bottom:0px;
  margin-right:10px;
  flex:none;
}
.filter-report input{
  width: 100px !important;
}
